<a href="https://colab.research.google.com/github/Nayeon-20231348/NLP_2024/blob/main/4_2_ForStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 🅰️ **FOR statement** 🔄 Loop  
"for statement" enable you to extract each one of elements (i.e., from 1st element to the last from an object객체 or a certain range of data특정 범위의 자료).

- #### <font color='red'> Example</font> from 파이썬 200제

        for 구성요소 in 범위:  #list, tuple, dictionary, range
            반복으로 실행할 코드 #e.g., 수행할 문장
        
          or/and  

        for 아래 코드라인 변수 in 범위:
            반복으로 실행할 코드  #e.g., 수행할 문장

In [ ]:
#10월 8일 (6주차)

numbers = (1, 2, 3, 4, 5, 6 ,7 ,8)

for i in numbers:
  print(i)

1
2
3
4
5
6
7
8

In [ ]:
numbers = (1,2,3,4,5,6,7,8,9) # numbers is assigned a tuple containing the numbers from 1 to 9, enclosed in parentheses.

for i in numbers: # 'i' represents for integers. # The for loop iterates through each element (i) in the numbers tuple.
  print(i) # Inside the loop, the print(i) statement prints each individual integer from the numbers tuple on separate lines.

1
2
3
4
5
6
7
8
9

In [ ]:
#10월 8일 (6주차)

scope = [1, 2, 3, 4, 5]

for i in scope:
  print(i)

1
2
3
4
5

In [ ]:
#@markdown Similar exercise for a For Statement.

scope = [1,2,3,4,5]

for x in scope: # Any alphabet of your choice can be anything after "for" work.
  print(x)

1
2
3
4
5

In [ ]:
#@markdown Similar exercise for a For Statement.

scope = [1,2,3,4,5]

for y in scope: # An alphabet can be anything you like after 'for'.
  print(y)

1
2
3
4
5

##<font color = 'red'> 💡🐹🐾 List of Keywords
- Keywords are the reserved words in Python. You cannot use a keyword as a variable name, function name or any other identifier.
- **[List of keywords](https://www.programiz.com/python-programming/keyword-list)**

In [ ]:
#@markdown <font color='red'>**💡🐹🐾 Be cautious about using words used the list of keywords**

import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
#10월 8일 (6주차)

class = ['Sam', 'Emily', 'Todd']    #class는 함수명이 존재하기 때문에 변수명으로 사용X

for i in class:
  print(i)

SyntaxError: invalid syntax (<ipython-input-5-f3a8cdf6a1aa>, line 3)

In [ ]:
#@markdown <font color='red'>**💀 Wrong Example**

class = ['Sam', 'Emily', 'Todd']

for i in class:
  print(i)

SyntaxError: ignored

In [ ]:
#10월 8일 (6주차)

name = ['Sam', 'Emily', 'Todd']

for i in name:
  print(i)

Sam
Emily
Todd

In [ ]:
#@markdown <font color='brown'>**💊 Fix this!**

name = ['Sam', 'Emily', 'Todd']

for i in name:
  print(i)

Sam
Emily
Todd

##👀 Before you run the following code lines for a FOR Statement, you need to know the following.

💊 Objects객체 used in FOR statements are i) string, ii) list or tuple, iii) dictionary, iv) range(). They are characterized by repeatable objects.  

    The results depend on the number in (range 범위).
    e.g., range(0) ➡️  NONE, range(1) ➡️ 0, range(2) ➡️ 0,1, etc.

In [ ]:
#10월 8일 (6주차)

for i in range(0):    #range(0)이면, 출력값이 없음(None)
  print(i)

In [ ]:
#10월 8일 (6주차)

for i in range(1):
  print(i)

0

In [ ]:
#10월 8일 (6주차)

for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#10월 8일 (6주차)

for i in range(101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
#10월 8일 (6주차)

for i in range(5):
  print(i)

type(i)

0
1
2
3
4

int

In [ ]:
for i in range(1):
  print (i)

type(i)

0

int

In [ ]:
for x in range(3):
  print(x)

type(x)

0
1
2

int

In [ ]:
for y in range(10):
  print(y)

type(y)

0
1
2
3
4
5
6
7
8
9

int

In [ ]:
for z in range(0):
  print(z)

#type(y) #NameError: name 'y' is not defined

In [ ]:
#10월 8일 (6주차)

list_truit = ['apple', 'banana', 'grape', 'strawberry', 'pear', 'mango']

for i in list_truit:
  print(i)

apple
banana
grape
strawberry
pear
mango

In [ ]:
list_fruit = ["apple", "banana", "grape", "strawberry", "pear", "mango"]

for i in list_fruit:
  print(i)

apple
banana
grape
strawberry
pear
mango

In [ ]:
#10월 8일 (6주차)

string = 'abcde'

for i in string:
  print(i)

a
b
c
d
e

In [ ]:
string ='abcde'

for c in string:
  print(c)

a
b
c
d
e

In [ ]:
#10월 8일 (6주차)

list_int = [1, 2, 3, 4, 5]

for i in list_int:
  print(i)

1
2
3
4
5

In [ ]:
list_int = [1,2,3,4,5]

for c in list_int:
  print(c)

1
2
3
4
5
1
[0]

In [ ]:
#10월 8일 (6주차)

print(list_int[0])    #list_int의 첫 번째 값을 출력
print([0])

1
[0]

In [ ]:
#@markdown 💊 **Compare!**
print(list_int[0])
print([0])

1
[0]

In [ ]:
#10월 8일 (6주차)

dict1 = {'a':97, 'b':98, 'c':99}

for i in dict1:
  print(i)          #사전의 키만 출력됨

a
b
c

In [5]:
dict1 = {'a':97, 'b':98, 'c':99}
dict = {'a':90, 'b':8, 'c':30}

print(dict1['a'])
print(['a'])
print(dict['b'])

97
['a']
8

In [ ]:
dict = {'a':97, 'b':98, 'c':99}

for i in dict:
  print(i)

a
b
c

In [ ]:
#10월 8일 (6주차)

dict1 = {'a':100, 'b':200, 'c':300}

for i in dict1:
  print(i)

a
b
c

In [3]:
dict2 = {'a':100, 'b':200, 'c':300}

for i in dict2:
  print(i)

a
b
c

In [4]:
#10월 8일 (6주차)

print(dict2['a'])
print(['a'])
print(dict['b'])

100
['a']
dict['b']

In [ ]:
#@markdown 💊 **Compare between print(dictionary['a']) & print(['a']) to print a value, not a key.**

print(dict1['a'])
print(['a'])

100
['a']

In [ ]:
#@markdown 💣 <font color = 'red'>**Indeces are not compatible with dictionary-type data**

print(dict2[0])

KeyError: 0

In [ ]:
#10월 10일 (6주차)

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for c in range(10):
  print(c)

0
1
2
3
4
5
6
7
8
9

# 🅱️  FOR ~: IF ~: CONTINUE... ELSE: BREAK

    for 구성요소 혹은 아래 코드라인 변수 in 범위:
      ...
      continue    # 다음 반복문 수행
      ...
      break       # for 반복문 탈출

In [ ]:
#10월 10일 (6주차)

scope = [1, 2, 3, 4, 5]

for i in scope:
  print(i)
  if i<3:
    continue
  else:
    break

1
2
3

In [ ]:
scope=[1,2,3,4,5]

for i in scope:
  print(i)        #화면에 해당 정수를 출력한 후 그 수가 3 보다 작으면 그 다음 숫자를 출력하고, 3 보다 크거나 같으면 종료
  if i<3:
    continue      # 이 경우 continue 없이도 코드라인 작성 가능
  else:
    break

1
2
3

#🅾️ FOR ~: ELSE ~:

    for 변수 in 범위:
      반복 실행 코드
    else:       
      for 구문이 모두 실행되었을 때 실행할 코드

In [ ]:
scope = [1, 2, 3, 4, 5]

for i in scope:
  print(i)

else:
  print('Perfect')

1
2
3
4
5
Perfect

In [ ]:
scope = [1,2,3,4,5]

for x in scope:
  print(x)
else:                 #반복문이 break에 의해 중단됨 없이 정상적으로 모두 실행되어야만 특정 코드 실행할 경우 FOR ~ ELSE 사용
  print('Perfect')

                      #파이썬200제에는 print (x) 다음에 break 코드라인이 있는데, 이것은 원소가 범위에 있을 때 결과를 보여주는게 1 개 밖에 안된다. 실수로 넣은 코드라인으로 보인다. 이 예제는 아래에 따로 코드라인을 작성했다.

1
2
3
4
5
Perfect

## 💊 **Compare! (Do not use in class. Just let students know about it.**

In [ ]:
#@markdown 💀 IT seems an imperfect example from 파이썬200제.
list = [1,2,3]
for i in list:
  print(i)
  break ##파이썬200제에는 print (x) 다음에 break 코드라인이 있는데, 이것은 요소가 범위에 있을 때 결과를 보여주는게 1 개 밖에 안된다. 실수로 넣은 코드라인으로 보인다.
else:
  print('Perfect')

1